.c-betslip {
  display: none;
}

.c-betslip.c-betslip__is-open {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 1000px) {
  .c-betslip {
    display: inline-block;
    width: 50%;
  }

  .c-betslip.c-betslip__is-open {
    position: relative;
    width: 50%;
    height: auto;
    background: #fff;
  }
}

.c-betslip-list-wrap {
  background: #fff;
  width: 75%;
  height: 100vh;
  padding-top: 80px;
  float: right;
  overflow: scroll;
  box-sizing: border-box;
}

.c-betslip-list {
  /* width: 75%;
  height: 100%;
  padding-top: 80px;
  float: right; */
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .c-betslip {

  }
}

.c-bet {
  width: 200px;
  height: 150px;
  border-bottom: solid 2px black;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.c-bet__name {
  width: 100%;
  font-size: 18px;
  display: inline-block;
  text-align: center;
}

.c-bet__price {
  width: 100%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

.c-btn {
  display: inline-block;
  padding: 6px 15px;
  font-size: 11px;
  border-radius: 5px;
  background: black;
  color: #fff;
}
