.c-event {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

.c-event__name {
  border: solid 2px #999;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0px;
  text-align: center;
  box-sizing: border-box;
}
