.c-header {
  height: 50px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

@media only screen and (min-width: 1000px) {
  .c-header {
    display: none;
  }
}

.c-close-btn-wrap {
  top: 12.5px;
  right: 25px;
  position: fixed;
  z-index: 10;
}

.c-close-btn {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.c-close-btn:hover {
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.c-close-btn--selected .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 5px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.c-close-btn--selected .bar2 {
    opacity: 0;
}

.c-close-btn--selected .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -5px);
    transform: rotate(45deg) translate(-7px, -5px);
}
