.c-market {
  border: solid 2px #999;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.c-market__name {
  padding-bottom: 10px;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.c-market__selections {
  display: flex;
  justify-content: space-between;
}

.c-market__selection {
  border: solid 2px #999;
  border-radius: 5px;
  padding: 5px 25px;
}

.c-market__selection:hover {
  cursor: pointer;
}

.c-market__selection--selected {
  background-color: green;
}

.c-market__selection-name, .c-market__selection-price {
  font-size: 12px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.c-market__selection--selected .c-market__selection-name, .c-market__selection--selected .c-market__selection-price {
  color: white;
}
